<?php
 $request = I('get.');
?>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>商品信息</title>
    <link rel="stylesheet" href="{$Think.ADMIN_LAYUI_CSS}/layui.css">
    <link rel="stylesheet" href="{$Think.ADMIN_CSS_URL}/global.css">
    <link rel="stylesheet" href="{$Think.ADMIN_CSS_URL}/common.css">
    <link rel="stylesheet" href="{$Think.ADMIN_CSS_URL}/page.css">
    <script type="text/javascript" src="{$Think.const.ADMIN_JQUERY_JS}/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{$Think.const.ADMIN_LAYUI_JS}/layui.js"></script>
    <script type="text/javascript" src="{$Think.const.ADMIN_JS_URL}/common.js"></script>
</head>
<body >
<div class="body-all">
<blockquote class="layui-elem-quote layui-quote-nm">
    <p>商品管理</p>
</blockquote>
    <div style="padding: 15px">
        <div class="layui-tab">
            <ul class="layui-tab-title layui-tab-brief">
                <li class="layui-this"><a href="__SELF__">商品信息</a></li>
                <li><a href="__CONTROLLER__/add" >添加商品</a></li>
                <li>修改商品</li>
                <li>删除商品</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <form class="layui-form" action="__SELF__">
                        <div class="layui-form-item">
                            <div class="layui-form-item">
                                <label class="layui-form-label">搜索序号</label>
                                <div class="layui-input-inline">
                                    <input name="id" placeholder="请输入序号" autocomplete="off"
                                           class="layui-input" type="text" value="<?php if($request['id']) echo $request['id']?>" >
                                </div>
                                <label class="layui-form-label">搜索名称</label>
                                <div class="layui-input-inline">
                                    <input name="name"  placeholder="请输入搜索名称" autocomplete="off" class="layui-input"
                                           type="text"  value="<?php if($request['name']) echo $request['name']?>" >
                                </div>
                                <label class="layui-form-label">搜索名称</label>
                                <div class="layui-input-inline">
                                    <select name="quiz1">
                                        <option value="">请选择省</option>
                                        <option value="你最喜欢的老师">福建省</option>
                                    </select>
                                </div>
                                <div class="layui-input-inline">
                                    <select name="quiz2">
                                        <option value="">请选择市</option>
                                        <option value="温州">台州</option>
                                        <option value="温州">绍兴</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">价格范围</label>
                                <div class="layui-input-inline ">
                                    <input type="text" name="price[0]" placeholder="￥" autocomplete="off" class="layui-input"
                                            value="<?php if($request['price'][0]) echo $request['price'][0]?>" >
                                </div>

                                <div class="layui-input-inline" >
                                    <input type="text" name="price[1]" placeholder="￥" autocomplete="off" class="layui-input"
                                           value="<?php if($request['price'][1]) echo $request['price'][1]?>" >
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">数量范围</label>
                                <div class="layui-input-inline" >
                                    <input type="text" name="number[0]" placeholder="0" autocomplete="off" class="layui-input"
                                           value="<?php if($request['num'][0]) echo $request['num'][0]?>" >
                                </div>

                                <div class="layui-input-inline input-width-small">
                                    <input type="text" name="number[1]" placeholder="max" autocomplete="off" class="layui-input"
                                          value="<?php if($request['num'][1]) echo $request['num'][1]?>" >
                                </div>
                            </div>
                            <div class="layui-input-block" style="float: right">
                                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">查询</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                    <div class="layui-form-item">
                        <a class="layui-btn " href="__CONTROLLER__/add"><i class="layui-icon">&#xe608;</i>添加商品</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form">
            <table class="layui-table" lay-even="" lay-skin="row">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th><input name="" lay-skin="primary" lay-filter="allChoose" type="checkbox"></th>
                    <th>序号</th>
                    <th>商品名称</th>
                    <th>库存</th>
                    <th>价格</th>
                    <th>图片</th>
                    <th>缩略图</th>
                    <th>品牌</th>
                    <th>创建时间</th>
                    <th align="center">操作</th>
                    <th align="center">操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name="data" id="v">
                    <tr>
                        <td><input name="" lay-skin="primary" type="checkbox"></td>
                        <td>{$v.id}</td>
                        <td><a href="#">{$v.name}</a></td>
                        <td>{$v.num}</td>
                        <td>{$v.price}</td>
                        <td><img src="/{$v.image}" height="60" width="60"></td>
                        <td><img src="/{$v.thumb}" height="40" width="40"></td>
                        <td>{$v.brand}</td>
                        <td>{$v.time|strtotime='Y-m-d h:i:s',###}</td>
                        <td><a href="__CONTROLLER__/edit/id/{$v.id}">修改</a></td>
                        <td><a href="javascript:;" onclick="del({$v.id},'__CONTROLLER__/del')">删除</a></td>
                    </tr>
                </volist>
                </tbody>
            </table>
            <div>
                offset={$object->getOffset()}
            </div>
            <div>
            <div class="page-container" >
                <include file="Common:page" page="{$page}" />
            </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>