<div class="pageTotal">
    <p>当前第<span><?php echo $page->offset+1?></span>~<span><?php if($page->offset+1+$page->getPageSize()>$count) echo $count;else echo ($page->offset+1+$page->getPageSize());?></span>条，总共<span><?=$count?></span>条。</p>
</div>
<div id="page" style="text-align: center;" >
</div>
<div class="pageShow" style="margin-top:-45px;">
    <span>显示</span>
    <input name="page_size" type="text" placeholder="10" value="<?=$page->pageSize?>" />
    <span>条/页</span>
    <a href="javascript:void(0)"  onclick="set_page()" >GO</a>
</div>
<script type="text/javascript">
    layui.use(['laypage', 'layer'], function () {
        var laypage = layui.laypage;
        laypage({
            cont: 'page',
            skip: true,
            skin: '#1E9FFF',
            pages: 5,
            curr: 6,
            first: 1,
            last: 7,
            prev: '<em><</em>'
            , next: '<em>></em>'
            , jump: function (obj, first) {
                if (!first) {
                    window.location.href = '?&page_size=<?=$page->pageSize?>&page=' + obj.curr;
                }
            }
        });
    });

    function set_page() {
        location.href="<?php echo U([''])?>?&page_size="+$('#page_size').val()
    }
</script>