<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>添加商品</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <link href="{$Think.ADMIN_CSS_URL}/mine.css" type="text/css" rel="stylesheet">
    <link href="{$Think.ADMIN_CSS_URL}/auth.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="{$Think.const.ADMIN_JQUERY_JS}/jquery-3.2.1.min.js"></script>
</head>

<body>
<div class="div_head" style="overflow: auto;">
    <span>
        <span style="float:left">当前位置是：权限管理-》分配权限</span>
        <span style="float:right;margin-right: 8px;font-weight: bold">
             <a style="text-decoration: none" href="__CONTROLLER__/showlist">【返回】</a>
        </span>
    </span>
</div>
<div style="font-size: 13px;margin: 10px 5px">
    <div>
        <span>当前角色：{$role_info.name}</span>
    </div>
    <form action="__SELF__" method="post" enctype="multipart/form-data" id="form1">
        <table border="1" width="100%" class="table_a">
            <tr>
                <td>权限名称</td>
                <td><input type="text" name="name" value=""/></td>
            </tr>
            <tr>
                <td>权限上级</td>
                <td>
                    <select name="pid">
                        <option value="0">请选择</option>
                        <volist name="auth_father" id="vv">
                            <option value="{$vv.id}">{$vv.name}</option>
                        </volist>
                    </select>
                </td>
            </tr>
            <tr>
                <td>权限控制器</td>
                <td>
                    <input type="text" name="controller" value=""/>
                </td>
            </tr>
            <tr>
                <td>权限操作方法</td>
                <td><input type="text" name="action" value=""/></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="增加">
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>